h1 {
	text-align: center;
	font-size: 4vw;
	padding-top: 2vh;
	padding-bottom: 1vh;
    color: purple;
}

.field {

	width: 20vw;
	height: auto;
}

.help-text {
	padding-top: 2vh;
	font-size: 1vw;
	padding-bottom: 0.5vh;
	color: #06357a;
}

#form{
    background: rgb(225,225,225);
    margin-top: 3vh;
}

#submit{
	margin-top: 3vh;
	width: 20vw;
	height: 5vh;
	color: white;
	background: #06357a;
	margin-bottom: 5vh;
}