img {
    width: 100%;
    height: auto;
}
.image-container {
    width:420px;
    height: 240px;
    overflow:hidden;
}

h3 {
    text-align: center;
    color: purple;
    font-weight: 850;
    padding-bottom: 30px;
    padding-top: 30px;  
    border-bottom: 2px solid rgba(54, 1, 38, 0.551);
    line-height: 0;
 }
