.picture {

    border-radius:8px;
    max-width:5vw;
    max-height:5vh;
    width: auto;

    padding-right: 5vw;
}

h1 {
	text-align: center;
	font-size: 4vw;
	padding-top: 2vh;
	padding-bottom: 1vh;
    color: purple;
}

.Attribute{
    text-align: left;
    font-size: 1.5vw;
    padding-left: 3vw;
    padding-bottom: 1vw;
}

h2{
    text-align: left;
    font-size: 2vw;
    padding-left: 3vw;
    padding-bottom: 1vh;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: #06357a;
}
