<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %}

{% block head_block %}
	<!-- imports , header -->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="/static/jquery/datetimepicker/build/jquery.datetimepicker.full.min.js"></script>

    <link href="{% static 'eventmakerapp/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'jquery/datetimepicker/jquery.datetimepicker.css' %}"/>
    <link type="text/css" href="{% static 'eventmakerapp/addEvent.css' %}" rel="stylesheet">

    {{ form.media }}
{% endblock %}

{% block body_block %}




    <h1>Add Event</h1>
    <hr>
	<!-- form to send post request with details on new event -->
    <div class="d-flex justify-content-center" id="form">
        <form id="event_form" method="post" action="/eventmaker/addEvent/">
            {% csrf_token %}
			
			<!-- loops through required fields and creats inputs for them -->
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}

                {{ field.errors }}
                <div class="help-text">
                    {{ field.help_text }}
                </div>
                <div class="field">
				<!-- handles time input of the event -->
                {% ifequal field.name "time" %}
                        {{ field }}
                        <script>
                            $(function () {
                                $("#{{ field.auto_id }}").datetimepicker({
                                    format: 'd/m/Y H:i',
                                });
                            });
                        </script>

                {% else %}
                    {{ field }}
                {% endifequal %}
                </div>
            {% endfor %}
            <input id="submit" type="submit" name="submit" value="Add Event" />
        </form>
    </div>
{% endblock %}