<!DOCTYPE html>
{% load staticfiles %}


<html>
	<head lang = "en">
		<meta charset="UTF-8" />	
		<title>Eventmaker - Join and Create Events</title>
        <link type="text/css" rel="stylesheet" href="{% static 'eventmakerapp/base.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {%  block head_block %}
        {% endblock %}
    </head>
		
	<body>
		<nav>
			<ul>
				<li class="logo"><a href="{% url 'eventmakerapp:index' %}">eventmaker</a></li>
				<div class="items">
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'eventmakerapp:logout' %}?next={%  url 'eventmakerapp:index' %}">Log Out</a>
					</li>

					<li>
						<a href='#'>Create Event</a>
					</li>

					<li>
						<a href='#'>Account</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'eventmakerapp:register' %}">Sign Up</a>
					</li>

					<li>
						<a href="{% url 'eventmakerapp:login' %}">Login</a>
					</li>
					{% endif %}						
				</div>
				<li class="search-icon">
					<form method="get" action="{% url 'eventmakerapp:eventsearch'  %}">					
						<input type="text" placeholder="Search for events..." name="searchEvent">
						<label class="icon">
							<button type="submit" class="fas fa-search"></button>
						</label>
					</form>	

				</li>
			</ul>
		</nav>
    <hr />

		<div>
		{% block body_block %}
		{% endblock %}
		</div>
	
		<footer>
			<a href="{% url 'eventmakerapp:about' %}">About</a>
		</footer>
	</body>
</html>