<!DOCTYPE html>
{% load staticfiles %}


<html>
	<!-- Page header with imports-->
	<head lang = "en">
		<meta charset="UTF-8" />	
		<title>
		{% block title %} Eventmaker - Join and Create Events {% endblock %}
		</title>
		<link href="{% static 'eventmakerapp/bootstrap.min.css' %}" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'eventmakerapp/base.css' %}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">	

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {%  block head_block %}
        {% endblock %}
    </head>
		
	<!-- Top nav Bar-->	
	<body>
		<nav>
			<ul>
				<li class="logo"><a href="{% url 'eventmakerapp:index' %}">eventmaker</a></li>
				<div class="items">
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'eventmakerapp:logout' %}?next={%  url 'eventmakerapp:index' %}">Log Out</a>
						</li>

                        {% if user.is_authenticated %}
						<li>
							<a href="{% url 'eventmakerapp:addEvent' %}">Add Event</a>
						</li>
                        {% endif %}

						<li>
							<a href="{% url 'eventmakerapp:userProfile' user.username %}">Account</a>
						</li>
					{% else %}
						<li>
							<a href="{% url 'eventmakerapp:register' %}">Sign Up</a>
						</li>

						<li>
							<a href="{% url 'eventmakerapp:login' %}">Login</a>
						</li>
					{% endif %}						
				</div>
				<li class="search-icon">
					<form method="get" action="{% url 'eventmakerapp:eventsearch'  %}">					
						<input type="text" placeholder="Search for events..." name="searchEvent">
					</form>	
				</li>
			</ul>
		</nav>

		<div>
		<!--Page conetent-->
		{% block body_block %}
		{% endblock %}
		</div>
	
		<!--Footer About bar-->
		<footer>
			<a href="{% url 'eventmakerapp:about' %}">About</a>
		</footer>
	</body>
</html>