<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 

	{% block head_block %}	
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
				<link type="text/css" rel="stylesheet" href="{% static 'eventmakerapp/eventpage.css' %}">
	{% endblock %}
			
	{% block body_block %}
			
		{% if event %}
		
			<div class="w3-container  w3-cell">
			<p><img src="{{ event.picture.url }}" class="w3-round imageSize" alt="Event Image"></p>
			</div>
			  
			<div class="w3-container w3-cell info w3-text-black">
				<p><h2>{{ event.title }}</h2></p>
				<p class="details">Details<p>
				<p class="info">Time - {{ event.time }}</p>
				<p class="info">Price - £{{ event.price }}</p>
				<p class="info">Location - {{ event.location }}</p>
				<p class="info">Posted By - {{ event.host }} (Link to host page)</p>
			</div>
			<hr>
			
			<div class="w3-padding-8 w3-container">				
				  <h2 class="w3-text-purple">About the Event</h2>
				  <p>{{ event.description ))</p>										 
			</div>
			<hr>
			
			<div class="w3-container w3-padding-8">
				<h2 class="w3-text-purple">Comments</h2>
			</div>
			
			<div class="w3-container">
			{% if user.is_authenticated %}
				<p><a href="{% url 'eventmakerapp:makecomment' event.title %}">Leave Comment</a></p>
			{% else %}
				<p><a href="{% url 'eventmakerapp:login' %}">Login</a> to leave a comment</p>			
			{% endif %}
			</div>
			
			<div class="w3-container">
			{% if comments %}
				<ul class="w3-ul ">
				{% for comment in comments %}
					
						<li class="w3-bar">
						<img src="{{ comment.user.picture }}" class="w3-bar-item w3-circle w3-hide-small" style="width:45px">
							<div class="w3-bar-item">
								<p> {{ comment.user.username }}(link to user profile)<br>
								{{ comment.data }}</p>	
							</div>
						</li>						
				{% endfor %}
				</ul>
			</div>
			{% else %}
				<strong>No Comments</strong>
			{% endif %}
		
		{% else %}
			<strong>Event Does not exist - <a href="{% url 'eventmakerapp:index' %}">back</a></strong>
		{% endif %}
		
	{% endblock %}