<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 

	{% block body_block %}
		{% if event %}
			<h2>{{ event.title }}</h2>
			<p>{{ event.location }} - {{ event.time }} - £{{ event.price }} </p>
			<h4>About the Event -</h4>
			<p> Descrtion from database</p>
		{% else %}
			<strong>Event Does not exist</strong>
		{% endif %}
		
		<h4>Comments -</h4>
		
		<a href="{% url 'eventmakerapp:makecomment' event.title %}">Leave Comment</a>
		
		{% if comments %}	
			{% for comment in comments %}
				<p>{{ comment.user.username }} - {{ comment.data }}</p><! -- link to users profile  -->
			{% endfor %}
			
		{% else %}
			<strong>No Comments</strong>
		{% endif %}
		
		{% if TEST %}
			{% for t in TEST %}
			
				t
				
			{% endfor %}
		{% endif %}
	
	
	{% endblock %}