<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 
	<!-- Page header with imports-->
	{% block head_block %}
        <script src="{% static 'jquery/jquery.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link type="text/css" rel="stylesheet" href="{% static 'eventmakerapp/eventpage.css' %}">
        {{ form.media }}
	{% endblock %}
			
	<!-- Page Content -->
	{% block body_block %}
	
		{% if event %}
			<!-- Event Picture and details -->
			<br>
            {% if event.picture %}
			<div class="w3-container  w3-cell" >
			<p><h1 class="w3-text-purple">{{ event.title }}</h1></p>
			<p><img src="{{ event.picture.url }}" class="w3-round imageSize" alt="Picture of Event"></p>
			</div>
			{% else %}
			<div class="w3-container  w3-cell" >
			<p><img src={% static 'images/default.png' %} class="w3-round imageSize" alt="Picture of Event"/></p>
			</div>
			
            {% endif %}
			  
			<div class="w3-container w3-cell info w3-text-black">
				<br><br><br>
				
				<p class="details">Details</p>
				<p class="info">Time - {{ event.time }}</p>
				{% if event.price == 0 %}
					<p class="info">Price - Free Entry</p>
				{% else %}
					<p class="info">Price - £{{ event.price }}</p>
				{% endif %}
				<p class="info">Location - {{ event.locationName }}</p>
				<p class="info">Posted By - <a href="{% url 'eventmakerapp:userProfile' event.host %}">{{ event.host }}</a> </p>		
				<p class="info">
					{% if user.is_authenticated %}
						<form action="{% url 'eventmakerapp:LikeView' event.pk %}" method="POST">	
							{% csrf_token %}
							<button type="submit", name="event_id", value="{{ event.id }}", class="info btn btn-primary btn-sm">
							{{ event.total_likes }} Likes
							</button>							
						</form>	
					{% else %}				
						<form action="{% url 'eventmakerapp:login' %}" >	
							{% csrf_token %}
							<button class="info btn btn-primary btn-sm">
							{{ event.total_likes }} Likes
							</button>	
							- Login to Leave a Like
						</form>	
						
					{% endif %}
				</p>
				
					
			</div>
			
			<div class="w3-container w3-cell info w3-text-black">
				<br><br>
				{% csrf_token %}
                {% for field in form.visible_fields %}
                    {% ifequal field.name "location" %}
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    {% endifequal %}
                {% endfor %}

			</div>
			
			
			
					
			
			
			<!-- Event description -->
			<hr>
			<div class="w3-padding-8 w3-container" style="background-color:rgb(225, 225, 225)">	
				<br>
				<h2 class="w3-text-purple">About the Event</h2>
				<p>{{ event.description }}</p>
				<br>
				<br>
			</div>
			<hr>
			
			<!-- Event Comments -->
			<div class="w3-container w3-padding-8">
				<h2 class="w3-text-purple">Comments</h2>
			</div>
			
			<div class="w3-container">
			{% if user.is_authenticated %}
				<p><a href="{% url 'eventmakerapp:makecomment' event.title %}">Leave Comment</a></p>
			{% else %}
				<p><a href="{% url 'eventmakerapp:login' %}">Login</a> to leave a comment</p>			
			{% endif %}
			</div>
			
			<!-- List of Comments -->
			<div class="w3-container">
			{% if comments %}
				<ul class="w3-ul ">
				{% for comment in comments %}			
						<li class="w3-bar">
							<div class="w3-bar-item">
								<p> <a href="{% url 'eventmakerapp:userProfile' comment.user %}"><strong>{{ comment.user.username }}</strong></a><br>
								{{ comment.data }}</p>	
							</div>
						</li>						
				{% endfor %}
				</ul>
			</div>
			{% else %}
				<strong>No Comments</strong>
			{% endif %}
		
		{% else %}
			<strong>Event Does not exist - <a href="{% url 'eventmakerapp:index' %}">back</a></strong>
		{% endif %}

		

		
	{% endblock %}