<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 

	{% block body_block %}
	
		<h3>Popular Events</h3>
		{% if popular %}
			{% for event in popular %}
			<a href="{% url 'eventmakerapp:show_event' event.title %}">{{ event.title }}</a>
			{% endfor %}
		{% else %}
			<strong>There are no liked events</strong>
		{% endif %}
		
		
		<h3>Nearby Events</h3>
		{% if near %}
			{% for event in near %}
				{{ event.title }}
			{% endfor %}
		{% else %}
			<strong>There are no near events</strong>
		{% endif %}
		
		
		<h3>More Events</h3>
		{% if more %}
			{% for event in more %}
				{{ event.title }}
			{% endfor %}
		{% else %}
			<strong>There are no more events</strong>
		{% endif %}
		
	{% endblock %}

 
