<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 

<!-- Page header with imports-->
{% block head_block %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
	<link href="{% static 'eventmakerapp/index.css' %}" rel="stylesheet">

    {{ form.media }}
{% endblock %}
	<!--Page Content-->
	{% block body_block %}
		<!--Popular Events-->
		<h3>Popular Events</h3>
		{% if popular %}
		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			{% for event in popular %}
					<div class="col">
					  <div class="card shadow-sm">
						{% if event.picture %}
						<div class="image-container">
						<img src={{ event.picture.url }} alt="Picture of Event"/>
						</div>	
						{% else %}
						<div class="image-container">
						<img src={% static 'images/default.png' %} alt="Picture of Event"/>
						</div>
						{% endif %}
						<div class="card-body">
						  <strong><p class="event-title">{{ event.title }}</p></strong>
						  <p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
						  <div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
							  <a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
							</div>
							<small class="text-muted"><strong>Price:</strong> £{{ event.price }}</small>
						  </div>
						</div>
					  </div>
					</div>
			{% endfor %}
				</div>
			</div>
		</div>
		{% else %}
			<strong>There are no popular events</strong>
		{% endif %}
		
		<!--Nearby Events-->
		<h3 id="location">Nearby Events</h3>
        <form id="pickLocation" method="post" action="/eventmaker/checkLocation#location">

                {% csrf_token %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
                {% endfor %}
                <input type="submit" name="submit" value="Pick Location"  />
        </form>
		{% if near %}

		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

			{% for event in near %}
			<div class="col">
				<div class="card shadow-sm">
				  {% if event.picture %}
				  <div class="image-container">
				  <img src={{  event.picture.url }} alt="Picture of Event"/>
				</div>
				  {% else %}
				  <div class="image-container">
				  <img src={% static 'images/default.png' %} alt="Picture of Event"/>
				</div>
				  {% endif %}
				  <div class="card-body">
					<strong><p class="event-title">{{ event.title }}</p></strong>
					<p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
					  </div>
					  <small class="text-muted"><strong>Price:</strong> £{{ event.price }}</small>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
	</div>
</div>
		{% else %}
			<strong>Select a location on the map or enter a place to search for nearby events</strong>
		{% endif %}
		
		<!--More Events-->
		<h3>More Events</h3>
		{% if more %}
		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			{% for event in more %}
			<div class="col">
				<div class="card shadow-sm">
				  {% if event.picture %}
				  <div class="image-container">
				  <img src={{  event.picture.url }} alt="Picture of Event"/>
				</div>
				  {% else %}
				  <div class="image-container">
				  <img src={% static 'images/default.png' %} alt="Picture of Event"/>
				</div>
				  {% endif %}
				  <div class="card-body">
					<strong><p class="event-title">{{ event.title }}</p></strong>
					<p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
					  </div>
					  <small class="text-muted"><strong>Price:</strong> £{{ event.price }}</small>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
	</div>
</div>
		{% else %}
			<strong>There are no more events</strong>
		{% endif %}
	
	{% endblock %}
