<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %} 

<!-- Page header with imports-->
{% block head_block %}
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
	<link href="{% static 'eventmakerapp/index.css' %}" rel="stylesheet">

    {{ form.media }}
{% endblock %}
	<!--Page Content-->
	{% block body_block %}
		<!--Popular Events-->
		<h3>Popular Events</h3>
		{% if popular %}
		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<!-- loops through each event -->
			{% for event in popular %}
					<div class="col">
					  <div class="card shadow-sm">
						<!-- If event has a picture -->
						{% if event.picture %}
						<div class="image-container">
						<img src={{ event.picture.url }} alt="Picture of Event"/>
						</div>	
						{% else %}
						<div class="image-container">
						<img src={% static 'images/default.png' %} alt="Picture of Event"/>
						</div>
						{% endif %}
						
						<!-- Event details -->
						<div class="card-body">
						  <strong><p class="event-title">{{ event.title }}</p></strong>
						  <p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
						  <div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
							  <a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
							</div>
							<!-- function to display free instead of 0 -->
							<small class="text-muted"><strong>Price:</strong> 
								{% if event.price == 0 %}
									Free Entry
								{% else %}
									£{{ event.price }}
								{% endif %}	
							</small>
						  </div>
						</div>
					  </div>
					</div>
			{% endfor %}
				</div>
			</div>
		</div>
		<!-- No events -->
		{% else %}
			<strong>There are no popular events</strong>
		{% endif %}
		
		<!--Nearest Events-->
		<h3 id="location">Nearest Events</h3>
		<!-- Form to send request for nearby events from picked loaction -->
        <form id="pickLocation" method="post" action="/eventmaker/checkLocation#location">
		
				<!-- map and coords -->
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="d-flex justify-content-center">
                    <div>
                        {{ field.errors }}
                        {{ field.help_text }}
                        {{ field }}
                    </div>
                    </div>
                {% endfor %}
				
				<!-- input for location on map -->
                <div class="d-flex justify-content-center">
                    <input type="submit" name="submit" value="Pick Location"  />
                </div>
                <div class="d-flex justify-content-center">
                    <strong>Select a location on the map or enter a place to search for nearest events</strong>
                </div>
        </form>
		<!-- if there are events -->
		{% if near %}

		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			  
			<!-- loops through each event -->
			{% for event in near %}
			<div class="col">
				<div class="card shadow-sm">
				<!-- If event has a picture display -->
				  {% if event.picture %}
				  <div class="image-container">
				  <img src={{  event.picture.url }} alt="Picture of Event"/>
				</div>
				  {% else %}
				  <div class="image-container">
				  <img src={% static 'images/default.png' %} alt="Picture of Event"/>
				</div>
				  {% endif %}
				  
				  <!-- Event details -->
				  <div class="card-body">
					<strong><p class="event-title">{{ event.title }}</p></strong>
					<p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
					  </div>
					  
					  <!-- function to display free instead of 0 -->
					  <small class="text-muted"><strong>Price:</strong> 
						{% if event.price == 0 %}
							Free Entry
						{% else %}
							£{{ event.price }}
						{% endif %}	
					  </small>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
	</div>
</div>

		{% endif %}
		
		<!--More Events-->
		<h3>More Events</h3>
		{% if more %}
		<div class="album py-5 bg-light">
			<div class="container">
			  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<!-- loops through each event -->
			{% for event in more %}
			<div class="col">
				<div class="card shadow-sm">
				
				<!-- If event has a picture -->
				  {% if event.picture %}
				  <div class="image-container">
				  <img src={{  event.picture.url }} alt="Picture of Event"/>
				</div>
				  {% else %}
				  <div class="image-container">
				  <img src={% static 'images/default.png' %} alt="Picture of Event"/>
				</div>
				  {% endif %}
				  
				  <!-- Event details -->
				  <div class="card-body">
					<strong><p class="event-title">{{ event.title }}</p></strong>
					<p class ="event-time"><strong>Date: </strong>{{ event.time }}</p>
					<div class="d-flex justify-content-between align-items-center">
					  <div class="btn-group">
						<a href="{% url 'eventmakerapp:show_event' event.title %}" class="btn btn-sm btn-outline-secondary">View Event</a>
					  </div>
					  
					  <!-- function to display free instead of 0 -->
					  <small class="text-muted"><strong>Price:</strong> 
						{% if event.price == 0 %}
							Free Entry
						{% else %}
							£{{ event.price }}
						{% endif %}				  
					  </small>
					</div>
				  </div>
				</div>
			  </div>
			{% endfor %}
		</div>
	</div>
</div>
		<!-- No events to display - display message instead -->
		{% else %}
			<strong>There are no more events</strong>
		{% endif %}
	
	{% endblock %}
