<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
		Eventmaker - Login
	</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link href="{% static 'eventmakerapp/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'eventmakerapp/login.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
    
<main class="form-signin">
  <form id="login_form" method="post" action="{% url 'eventmakerapp:login' %}">
    {% csrf_token %}
    <h3><a href="{% url 'eventmakerapp:index' %}">eventmaker</a></h3>
    <h1 class="h3 mb-3 fw-normal">Log in</h1>
    <input type="text" class="form-control" placeholder="Username" name="username" value="" size="50" />
    <input type="password" name="password" class="form-control" placeholder="Password" value="" size="50" />
    <button class="w-100 btn btn-lg btn-primary" type="submit">Log in</button>
  </form>
</main>
  </body>
</html>

