<!DOCTYPE html>

{% extends "eventmaker/base.html" %}
{% load staticfiles %}

<!-- Page Content-->
{% block body_block %}
    {% if user %}
        {% if userProfile.picture %}
                <div class="w3-container  w3-cell" >
                <p><img src="{{ userProfile.picture.url }}" alt="Profile Picture" style="width:100%;max-width:200px"></p>
                </div>
        {% endif %}
		<!-- if business-->
        {% if userProfile.is_business %}
            Business {{ user.username }}<br>
            {% if userProfile.description %}
                Description: {{ userProfile.description }}
            {% endif %}
			
		<!-- if regular user-->
        {% else %}
            User {{ user.username }}<br>
                {% if userProfile.description %}
                    Bio: {{ userProfile.description }}
                {% endif %}
        {% endif %}
        {% if userProfile.website %}
            <br><a href="{{ userProfile.website }}">Website</a>
        {% endif %}

        {% for event in events %}
            <a href="{% url 'eventmakerapp:show_event' event.title %}">{{ event.title }}</a>
        {% endfor %}

    {% else %}
        User does not exist.
    {% endif %}
{% endblock %}